*~
*.iml
*.ipr
*.iws
.gradle
.idea
build
logs
out
nbproject
bin
doc
target
worlds
!.gitignore
!.gitmodules
!.mailmap
!.gitattributes
dependency-reduced-pom.xml
.classpath
.project
.settings
.db
.DS_Store
.vscode
lib
